@model IEnumerable<Content.Models.SeriesModel>

@{
    ViewData["Title"] = "ListSeries";
}

<h1>List of Series</h1>

<p>
    <a asp-action="CreateSeries" id="action-button" class="btn btn-info" role="button">Create New</a>
</p>
<div id="table-div-padding">
    <table class="table" id="list-tables">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SeriesId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SeriesName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SeriesOriginalName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SeriesDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SeriesRating)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SeriesSeasonCount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SeriesEpisodeCount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SeriesLatestEpisode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SeriesUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SeriesReleaseDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SeriesUpdateCycle)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SeriesId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SeriesName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SeriesOriginalName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SeriesDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SeriesRating)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SeriesSeasonCount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SeriesEpisodeCount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SeriesLatestEpisode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SeriesUrl)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SeriesReleaseDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SeriesUpdateCycle)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditSeries", new { id = item.SeriesId })
                        @Html.ActionLink("Details", "DetailsSeries", new { id = item.SeriesId })
                        @Html.ActionLink("Delete", "DeleteSeries", new { id = item.SeriesId })
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>